:root{

    --font-family: 'Manrope', sans-serif;

    --color-grey: #737271;
    --color-grey-2: #7c7271;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #1d1d1d;
    --color-light-bg: #fafafa;

    --padding-top: 50px;
}