.announcement{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-size: .8rem;
    font-family: var(--font-family);
}

.text__1{
    display: flex;
    align-items: center;
}

.text__2{
    display: flex;
    align-items: center;
}

.text__1 span{
    margin-right: 4rem;
}

.text__2 span:not(:last-child) {
    margin-right: 4rem;
} 

.announcement__link{
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 1rem;
}

